In [33]:

import geopandas as gpd
import fiona
import pandas as pd
import hvplot.pandas

In [34]:
gpd.datasets.available

['naturalearth_cities', 'naturalearth_lowres', 'nybb']

In [35]:
data = gpd.read_file("../Resources/US_regions.txt")

In [36]:
data.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [37]:
print(type(data))

<class 'geopandas.geodataframe.GeoDataFrame'>

In [ ]:
US_regions_json = pd.DataFrame(data)

In [38]:
US_regions_json

,Region,stroke,stroke-width,stroke-opacity,geometry
0,All,None,NaN,NaN,"LINESTRING (-130.25391 50.62507, -63.69922 50...."
1,Northeast,None,NaN,NaN,"LINESTRING (-80.52979 42.30982, -80.55176 39.7..."
2,Midwest,#555555,2.0,1.0,"LINESTRING (-103.97461 48.95137, -104.06250 41..."
3,West,None,NaN,NaN,"LINESTRING (-103.97461 48.95137, -104.15039 41..."
4,South,None,NaN,NaN,"LINESTRING (-102.91992 37.02010, -103.05176 31..."

In [44]:
US_regions_df = US_regions_json.filter(['Region', 'geometry'], axis = 1)

In [45]:
US_regions_df

      Region                                           geometry
0        All  LINESTRING (-130.25391 50.62507, -63.69922 50....
1  Northeast  LINESTRING (-80.52979 42.30982, -80.55176 39.7...
2    Midwest  LINESTRING (-103.97461 48.95137, -104.06250 41...
3       West  LINESTRING (-103.97461 48.95137, -104.15039 41...
4      South  LINESTRING (-102.91992 37.02010, -103.05176 31...

In [47]:
US_regions_df.plot()

TypeError: no numeric data to plot